In [2]:
import pandas as pd 

pd.read_csv('./data/병합된_지식맵.csv')

,f_tchapter_id,f_tchapter_id.1,f_schapter_id_x,f_tchapter_nm,f_schapter_id_y,f_schapter_id.1,f_mchapter_id_x,f_schapter_nm,f_mchapter_id_y,f_mchapter_id.1,f_lchapter_id_x,f_mchapter_nm,f_lchapter_id_y,f_lchapter_id.1,f_subject_id,f_lchapter_nm
0,12236834,12236834,12234963,개수가 같은 것끼리 잇기,12234963,12234963,14201779,그림의 개수 세어 보기,14201779,14201779,17122834,"1, 2, 3, 4, 5 알아보기",17122834,17122834,2212,1. 9까지의 수
1,12236838,12236838,12234964,그림을 세어 수 쓰기(1~5까지의 수),12234964,12234964,14201779,그림을 세어 1~5 알아보기,14201779,14201779,17122834,"1, 2, 3, 4, 5 알아보기",17122834,17122834,2212,1. 9까지의 수
2,12236835,12236835,12234964,"1, 2, 3, 4, 5를 쓰고 읽기",12234964,12234964,14201779,그림을 세어 1~5 알아보기,14201779,14201779,17122834,"1, 2, 3, 4, 5 알아보기",17122834,17122834,2212,1. 9까지의 수
3,12236836,12236836,12234964,관계있는 것끼리 잇기(1~5까지의 수),12234964,12234964,14201779,그림을 세어 1~5 알아보기,14201779,14201779,17122834,"1, 2, 3, 4, 5 알아보기",17122834,17122834,2212,1. 9까지의 수
4,12236837,12236837,12234964,그림을 세어 알맞은 수에 ○표 하기(1~5까지의 수),12234964,12234964,14201779,그림을 세어 1~5 알아보기,14201779,14201779,17122834,"1, 2, 3, 4, 5 알아보기",17122834,17122834,2212,1. 9까지의 수
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,12238490,12238490,12235831,덧셈식에서 규칙 찾아 문제 해결하기,12235831,12235831,14202422,계산식에서 규칙 찾기,14202422,14202422,17123536,계산식의 규칙 찾기,17123536,17123536,2249,6. 규칙 찾기
1067,12238495,12238495,12235832,합이 어떤 수가 되는 덧셈식 찾기,12235832,12235832,14202422,"덧셈식, 뺄셈식 찾기",14202422,14202422,17123536,계산식의 규칙 찾기,17123536,17123536,2249,6. 규칙 찾기
1068,12238497,12238497,12235833,달력을 보고 규칙적인 계산식 찾기,12235833,12235833,14202422,규칙적인 계산식 찾기,14202422,14202422,17123536,계산식의 규칙 찾기,17123536,17123536,2249,6. 규칙 찾기
1069,12238498,12238498,12235833,수 배열표를 보고 규칙적인 계산식 찾기,12235833,12235833,14202422,규칙적인 계산식 찾기,14202422,14202422,17123536,계산식의 규칙 찾기,17123536,17123536,2249,6. 규칙 찾기
1070,12238502,12238502,12235834,같은 두 값을 찾아 등호를 사용하여 식으로 나타내기,12235834,12235834,14202423,등호를 사용하여 식으로 나타내기,14202423,14202423,17123536,등호의 의미 알기,17123536,17123536,2249,6. 규칙 찾기

In [3]:
!pip install pyarrow fastparquet

Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (14.0.2)
Requirement already satisfied: fastparquet in c:\users\user\anaconda3\lib\site-packages (2024.11.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\anaconda3\lib\site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: pandas>=1.5.0 in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: cramjam>=2.3 in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (2.9.1)
Requirement already satisfied: fsspec in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (2024.3.1)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [15]:
student_df = pd.read_parquet('data/9기 최종 전달 데이터/최종 전달 데이터/tbl_app_testhisdtl/tbl_app_testhisdtl_202401.parquet')
student_df

,UserID,mCode,No,QuizCode,Answer,Correct,CreDate,LM_IDX
0,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0EE20U01121,1,30126926,singer,O,2024-01-01 19:45:00,None
1,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE20U07064,1,30130973,코뿔소,O,2024-01-01 19:44:00,None
2,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,1,30015977,⑴,O,2024-01-01 09:39:00,None
3,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,2,30015978,⑵,X,2024-01-01 09:39:00,None
4,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,3,30015979,④,X,2024-01-01 09:39:00,None
...,...,...,...,...,...,...,...,...
22386822,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,3,30016517,③,O,2024-01-31 18:58:00,None
22386823,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,4,30016524,3,O,2024-01-31 18:58:00,None
22386824,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,5,30016505,코끼리,O,2024-01-31 18:58:00,None
22386825,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0PE30U01357,1,30138311,①,O,2024-01-31 19:57:00,None
22386826,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0SE30U01132,1,30076213,③,O,2024-01-31 19:54:00,None

In [8]:
e_content = pd.read_csv("data/9기 최종 전달 데이터/최종 전달 데이터/e_content_meta.csv")
t_problem = pd.read_csv('data/9기 최종 전달 데이터/최종 전달 데이터/t_problem_analysis.csv')

In [14]:
t_problem

,f_problem_id,f_file_id,f_emh_cd,f_eduprocess_cd,f_area_cd,f_subject_id,f_chapkind_cd,f_lchapter_id,f_mchapter_id,f_schapter_id,f_tchapter_id,f_echapter_id,f_difficult_cd,f_analysis_id,f_studytree_id,f_test_cnt,f_good_cnt,f_deleteyn,f_mginfo
0,30139251,30139249,E0,9B,MA,2212,NaN,17122834.0,14201780.0,12234966.0,12236843.0,NaN,2,239.0,575.0,0,0,N,NaN
1,30139252,30139250,E0,9B,MA,2212,NaN,17122835.0,14201784.0,12234975.0,12236875.0,NaN,2,239.0,576.0,0,0,N,NaN
2,30139253,30139251,E0,9B,MA,2212,NaN,17122834.0,14201783.0,12234973.0,12236865.0,NaN,2,239.0,575.0,0,0,N,NaN
3,30139254,30139252,E0,9B,MA,2212,NaN,17122836.0,14201787.0,12234984.0,12236907.0,NaN,3,238.0,575.0,0,0,N,NaN
4,30139255,30139253,E0,9B,MA,2212,NaN,17122835.0,14201785.0,12234976.0,12236884.0,NaN,3,241.0,576.0,0,0,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91271,30169165,30169162,E0,9B,SO,2253,NaN,17123516.0,14202369.0,NaN,NaN,NaN,3,NaN,NaN,0,0,N,NaN
91272,30169166,30169163,E0,9B,SO,2253,NaN,17123516.0,14202369.0,NaN,NaN,NaN,3,NaN,NaN,0,0,N,NaN
91273,30169167,30169164,E0,9B,SO,2253,NaN,17123516.0,14202369.0,NaN,NaN,NaN,3,NaN,NaN,0,0,N,NaN
91274,30169168,30169165,E0,9B,SO,2253,NaN,17123516.0,14202369.0,NaN,NaN,NaN,2,NaN,NaN,0,0,N,NaN
91275,30068642,30068642,E0,9B,KO,2036,0.0,NaN,NaN,NaN,NaN,NaN,1,238.0,NaN,0,0,Y,NaN

In [12]:
e_content[e_content['subject'] == 'M']

,mcode,l_title,unique_content_nm,leccode,u_title,l_type,l_type_nm,service_1depth,service_2depth,subject,...,l_seq,l_template,l_template_nm,u_idx,u_parent_idx,u_seq,u_type,u_lchapter,u_mchapter,textbooktype
0,T0ME10U28009,(두 자리 수)-(한 자리 수)① 색연필 셈,(두 자리 수)-(한 자리 수)① 색연필 셈 (T0ME10U28009),T0ME10U28,3. 뺄셈,T_GOMATH_CAL_App,탭) 고매쓰 연산,NaN,NaN,M,...,9.0,T041,NaN,28,28,23,1,3,NaN,T
1,T0ME20U27002,(두 자리 수)-(한 자리 수)② 기차,(두 자리 수)-(한 자리 수)② 기차 (T0ME20U27002),T0ME20U27,3. 뺄셈,T_GOMATH_CAL_App,탭) 고매쓰 연산,NaN,NaN,M,...,2.0,T041,NaN,27,27,23,1,3,NaN,T
2,T9ME12U05043,(몇) + (몇) = (십 몇),(몇) + (몇) = (십 몇) (T9ME12U05043),T9ME12U05,5. 덧셈과 뺄셈 (2),T_REMATH,탭)단원별 보충 학습,NaN,NaN,M,...,5.0,S001,탭_진도학습,5,5,5,1,5,NaN,T
3,T9ME12U03073,(몇십 몇)－(몇십 몇),(몇십 몇)－(몇십 몇) (T9ME12U03073),T9ME12U03,3. 덧셈과 뺄셈 (1),T_SMTA,탭)교과서 대백과,NaN,NaN,M,...,NaN,S002,탭_ 이북템플릿,3,3,3,1,3,NaN,T
4,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,3.0,S096,탭_HTML 플레이어,57,57,2,1,2,0.0,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105007,T0ME22U04105,"하루의 시간 알아보기, 달력 알아보기","하루의 시간 알아보기, 달력 알아보기 (T0ME22U04105)",T0ME22U04,4. 시각과 시간,T_REMATH,탭)단원별 보충 학습,수준별 수학,단원별 보충학습,M,...,4.0,S001,탭_진도학습,4,4,4,1,4,0.0,T
105008,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,1.0,S096,탭_HTML 플레이어,4,4,4,1,4,0.0,T
105009,T9ME12U06097,핵심 개념으로 단원 정리하기,핵심 개념으로 단원 정리하기 (T9ME12U06097),T9ME12U06,6. 규칙 찾기,T_EBOOK,탭)교과서 진도학습,NaN,NaN,M,...,9.0,S009,탭_통플래시/영상,6,6,6,1,6,NaN,T
105010,T0ME21U01013,핵심 문제로 단원 정리하기,핵심 문제로 단원 정리하기 (T0ME21U01013),T0ME21U01,1. 세 자리 수,T_EBOOK,탭)교과서 진도학습,NaN,NaN,M,...,8.0,S027,탭_단원평가,1,1,1,1,1,NaN,T
105011,A9ME21004019,활동학습으로 복습하기,활동학습으로 복습하기 (A9ME21004019),A9ME21004,4. 길이 재기,EBOOK,진도학습,NaN,NaN,M,...,7.0,T009,[특별활동],4,4,4,1,4,NaN,T

In [17]:
student_df = student_df.rename(columns={'mCode' : 'mcode'})

student_df

,UserID,mcode,No,QuizCode,Answer,Correct,CreDate,LM_IDX
0,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0EE20U01121,1,30126926,singer,O,2024-01-01 19:45:00,None
1,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE20U07064,1,30130973,코뿔소,O,2024-01-01 19:44:00,None
2,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,1,30015977,⑴,O,2024-01-01 09:39:00,None
3,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,2,30015978,⑵,X,2024-01-01 09:39:00,None
4,4f672b16-c7d3-40f4-b6d7-027f1bb15331,T0KE31U01001,3,30015979,④,X,2024-01-01 09:39:00,None
...,...,...,...,...,...,...,...,...
22386822,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,3,30016517,③,O,2024-01-31 18:58:00,None
22386823,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,4,30016524,3,O,2024-01-31 18:58:00,None
22386824,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0ME31U04049,5,30016505,코끼리,O,2024-01-31 18:58:00,None
22386825,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0PE30U01357,1,30138311,①,O,2024-01-31 19:57:00,None
22386826,3a01cf84-58e3-43c4-a5ff-ffffed905e79,T0SE30U01132,1,30076213,③,O,2024-01-31 19:54:00,None

In [23]:
merged_df = e_content.merge(
    student_df, 
    how='inner', 
    on='mcode'
)

In [24]:
merged_df

,mcode,l_title,unique_content_nm,leccode,u_title,l_type,l_type_nm,service_1depth,service_2depth,subject,...,u_lchapter,u_mchapter,textbooktype,UserID,No,QuizCode,Answer,Correct,CreDate,LM_IDX
0,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,1,30101541,5/^ROW^/4,O,2024-01-01 18:41:00,None
1,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,2,30101542,9/^ROW^/7,O,2024-01-01 18:41:00,None
2,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,3,30101543,4/^ROW^/7,O,2024-01-01 18:41:00,None
3,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,4,30101544,5/^ROW^/9,O,2024-01-01 18:41:00,None
4,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,5,30101545,78,O,2024-01-01 18:41:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27366745,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,4,0.0,T,227b17c7-8f1c-431b-92c3-1cc9d449d585,2,30010442,ㄹ/^ROW^/ㅅ/^ROW^/ㅅ/^ROW^/ㅕ/^ROW^/ㅕ/^ROW^/ㅕ,X,2024-01-03 19:47:00,None
27366746,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,4,0.0,T,227b17c7-8f1c-431b-92c3-1cc9d449d585,3,30010443,4/^ROW^/ㄱ/^ROW^/ㄱ/^ROW^/6/^ROW^/6/^ROW^/ㅕ,X,2024-01-03 19:47:00,None
27366747,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,4,0.0,T,89bdeb74-888b-4761-b6e8-83327bc15bee,1,30010441,3/^ROW^/4/^ROW^/9,O,2024-01-16 16:48:00,None
27366748,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,4,0.0,T,89bdeb74-888b-4761-b6e8-83327bc15bee,2,30010442,4/^ROW^/4/^ROW^/6/^ROW^/5/^ROW^/5/^ROW^/9,O,2024-01-16 16:48:00,None
27366749,T0ME12U04107,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04107),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPICTODAY,탭)AI 약점 보완 학습,NaN,NaN,M,...,4,0.0,T,89bdeb74-888b-4761-b6e8-83327bc15bee,3,30010443,8/^ROW^/9/^ROW^/9/^ROW^/4/^ROW^/6/^ROW^/6,O,2024-01-16 16:48:00,None

In [25]:
merged_df = merged_df.drop_duplicates(subset=['mcode'])

In [26]:
merged_df

,mcode,l_title,unique_content_nm,leccode,u_title,l_type,l_type_nm,service_1depth,service_2depth,subject,...,u_lchapter,u_mchapter,textbooktype,UserID,No,QuizCode,Answer,Correct,CreDate,LM_IDX
0,T0ME12U57003,(몇십몇)+(몇십몇),(몇십몇)+(몇십몇) (T0ME12U57003),T0ME12U57,하루 계산 2주,T_HARU_MC,탭)하루 계산,하루 하나 베이직,하루 하나 베이직,M,...,2,0.0,T,3185aeba-8d6c-4c9d-a3bf-2e742590338e,1,30101541,5/^ROW^/4,O,2024-01-01 18:41:00,None
1110,T1ME11U01047,0 알아보기,0 알아보기 (T1ME11U01047),T1ME11U01,1. 9까지의 수,T_TOPIC_QUIZ,탭)한입 쏙 학교 공부 > 한입 문제,NaN,NaN,M,...,1,0.0,T,e39eb48a-1757-4396-85fb-b51ebb99dc3e,1,30143868,0/^ROW^/영,O,2024-01-30 21:34:00,None
1134,T0ME12U24003,1. 100까지의 수,1. 100까지의 수 (T0ME12U24003),T0ME12U24,학력평가대비특강(중간범위),T_EXAM_OLD,구)단원 기출 평가,실력평가,단원 기출 평가,M,...,24,NaN,T,ff0c0459-2b7c-4836-9567-48cdb601bbe4,1,30011316,60,O,2024-01-02 20:49:00,None
1504,T0ME21U12004,1. 세 자리 수,1. 세 자리 수 (T0ME21U12004),T0ME21U12,학력평가대비특강(중간범위),T_EXAM_OLD,구)단원 기출 평가,실력평가,단원 기출 평가,M,...,7,NaN,T,43e41cb4-977d-4576-8d02-0db2eaf43670,1,30003789,700/^ROW^/칠백,O,2024-01-02 15:32:00,None
1814,T0ME12U06105,10을 이용하여 모으기와 가르기(16~19),10을 이용하여 모으기와 가르기(16~19) (T0ME12U06105),T0ME12U06,6. 덧셈과 뺄셈(3),T_TOPICTODAY_OLD,구)AI 약점 보완 학습,NaN,NaN,M,...,6,0.0,T,d759ba97-43d5-44dc-b9e8-1cc7b0df5e8b,1,30015377,6/^ROW^/16,X,2024-01-01 07:47:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249220,T0ME22U05116,조사한 자료의 내용 알아보기,조사한 자료의 내용 알아보기 (T0ME22U05116),T0ME22U05,5. 표와 그래프,T_TOPIC_QUIZ,탭)한입 쏙 학교 공부 > 한입 문제,한입 쏙 학교 공부,한입 쏙 학교 공부,M,...,5,0.0,T,192f89b5-5c8c-4ade-b5f1-061ccf9a11a2,1,30012096,초콜릿,O,2024-01-01 20:43:00,None
9250690,T0ME12U01132,짝수와 홀수 구분하기,짝수와 홀수 구분하기 (T0ME12U01132),T0ME12U01,1. 100까지의 수,T_TOPIC_QUIZ,탭)한입 쏙 학교 공부 > 한입 문제,한입 쏙 학교 공부,한입 쏙 학교 공부,M,...,1,0.0,T,215909de-f759-4616-a78e-b10001fbd308,1,30007773,④,O,2024-01-01 21:06:00,None
9250906,T0ME22U15005,표와 그래프,표와 그래프 (T0ME22U15005),T0ME22U15,단원평가,T_DANWON,탭)단원평가,실력평가,단원평가,M,...,15,NaN,T,6179e0fe-f384-4e03-a126-2bc1d96445f2,1,30011061,그래프/^ROW^/조사 자료,O,2024-01-01 11:12:00,None
9253346,T0ME12U55003,필수 체크 전략(1),필수 체크 전략(1) (T0ME12U55003),T0ME12U55,"3주 여러 가지 모양, 시계 보기와 규칙 찾기",T_MATH_TACTIC,탭)수학 전략,수준별 수학,수학 전략,M,...,3,0.0,T,c5e203a1-b926-4f41-bb62-06296584085c,1,30108369,3,O,2024-01-02 19:52:00,None
9253682,T0ME12U04133,한 자리 세 수의 덧셈,한 자리 세 수의 덧셈 (T0ME12U04133),T0ME12U04,4. 덧셈과 뺄셈(2),T_TOPIC_QUIZ,탭)한입 쏙 학교 공부 > 한입 문제,한입 쏙 학교 공부,한입 쏙 학교 공부,M,...,4,0.0,T,acabbc64-842b-4de7-aefb-4a23e26d83c8,1,30010441,3/^ROW^/4/^ROW^/9,O,2024-01-01 19:35:00,None